<a href="https://colab.research.google.com/github/newbie-sandy/azure_flask_deployment/blob/main/create_table_within_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
connection = sqlite3.connect('cost.db')
cursor = connection.cursor

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

# Create temp+local sqlite DB

In [12]:
conn = sqlite3.connect('costs.db')
c =conn.cursor()

# Create new table called stonybrook within the .db file

In [13]:
c.execute("""
    CREATE TABLE stonybrook
    (
        hospital name text,
        insurance_type text,
        code text,
        code_description text,
        cost_negotiated real,
        cost_minimum real,
        cost_maximum real,
    );
""")
conn.commit()

OperationalError: ignored

In [ ]:
# Confirm the creation of the new table

In [14]:
c.execute('''
select *                          #everything
from sqlite_master  #what is this fxxking sqlite_master
where type = 'table'
''')
c.fetchall #return output of the query just runned

#for value in c.fetchall():
#print(value)

OperationalError: ignored

# insert in data (column and values) manually(just for example)

In [ ]:
sql_query = """

insert into STONYBROOK (
        'hospital name text',
        'insurance_type text',
        'code text',
        'code_description text,
        'cost_negotiated real,
        'cost_minimum real,
        'cost_maximum real,
        )

        values [(
          'southampton hospital',
          'aetna', # insurance type
          '99214',
          'office visit',
          100.00
          1.00,
          1000.00
          );
"""
# 'text''num'

In [ ]:
c.execute(sql_query)
conn.commit()

# check if the row has been inputed

In [16]:
sql_query_2 = """

select *
from stonybrook
"""
c.execute(sql_query_2)
print(c.fetchall())

OperationalError: ignored

# chek using pandas and return the response as a df

create engine to connect to sql.db

In [ ]:
engine = create_engine('sqlite///costs.db')     #/// means local db
stonybrook = pd.read_sql(sql_query_2,conn)

# load in csv file and push to the new table

In [ ]:
stonybrook_modified.to_sql('sb')     # refer to pandas documentation

# test this?? work

In [18]:
query = """
select *
from stonybrook
where code = '10004'
limit 10;
"""
response = pd.read_sql(query,conn)
response

DatabaseError: ignored